requests~=2.32.3
selenium~=4.23.1
beautifulsoup4~=4.12.3
jupyter~=1.0.0
pip~=22.0.2
attrs~=24.2.0
wheel~=0.37.1
cryptography~=43.0.0
lxml~=5.2.2
pillow~=10.3.0
tornado~=6.3.3
Jinja2~=3.1.2
keyring~=23.5.0
setuptools~=70.1.1
future~=0.18.2
webdriver-manager~=4.0.1
pandas==2.2.1
azure-storage-blob==12.19.1
python-dotenv==1.0.1
openpyxl==3.1.2
PyPDF2==3.0.1
